<div>
    <h2 id="page-heading">
        <span>Projets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-projet" [routerLink]="['/projet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Projet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Statut</span></th>
            <th><span>Next</span></th>
            <th><span>Commentaire</span></th>
            <th><span>Categorie Activite</span></th>
            <th><span>Client</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projet of projets ;trackBy: trackId">
                <td><a [routerLink]="['/projet', projet.id, 'view' ]">{{projet.id}}</a></td>
                <td>{{projet.nom}}</td>
                <td>{{projet.statut}}</td>
                <td>{{projet.next}}</td>
                <td>{{projet.commentaire}}</td>
                <td>
                    <div *ngIf="projet.categorieActivite">
                        <a [routerLink]="['../categorie-activite', projet.categorieActivite?.id, 'view' ]" >{{projet.categorieActivite?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="projet.client">
                        <a [routerLink]="['../client', projet.client?.id, 'view' ]" >{{projet.client?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/projet', projet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/projet', projet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'projet/'+ projet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
